@using WebSiteBanHang.Models
<div class="header-top">
    <div class="container">
        <div class="search">
            @using (Html.BeginForm("LayTuKhoaTimKiem", "TimKiem"))
            {
                <input type="text" name="sTuKhoa" placeholder="Tên sản phẩm ...">
                <input type="submit" value="Tìm kiếm">
            }
        </div>
        <div class="header-left">
            <ul>
                @if (Session["TaiKhoan"] != null && Session["TaiKhoan"] != "")
                {
                    ThanhVien tv = (ThanhVien)Session["TaiKhoan"];
                    <li style="color:red;"> @tv.HoTen </li>
                    @Html.ActionLink("Đăng xuất", "DangXuat", "Home")
                }
                else
                {
                    <li style=" display: inline;"><a id="btnDangNhap" class="lock" href="#">Đăng Nhập</a></li>
                    <li style=" display: inline;"><a class="lock" href="@Url.Action("DangKy","Home")">Đăng Ký</a></li>

                }
                <li>

                </li>

            </ul>
            @Html.Action("GioHangPartial", "GioHang")
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

<link href="~/Content/css/style_form_dangnhap.css" rel="stylesheet" />
<br />
<div id="popup_login">
    <div class="login-form" id="login-form">
        <div style="clear:both;text-align:right;margin-bottom:0;">
            <span id="close-form" class="btn btn-danger">X</span>
        </div>
        <h2>Đăng nhập</h2>
        <div class="form-info">
            @using (Ajax.BeginForm("DangNhap", "Home", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ThongBao" }))
            {

                <input class="email TaiKhoan" name="txtTenDangNhap" placeholder="Tên đăng nhập" required="" type="text">
                <input class="password MatKhau" name="txtMatKhau" placeholder="Mật khẩu" required="" type="password">
                <p><a href="#">Quên mật khẩu?</a></p>
                <h3 style="font-weight:bold;color:red;text-align:left;" id="ThongBao"> </h3>
                <ul class="login-buttons">
                    <li><input value="Đăng nhập" type="submit" id="btnDangNhap1"></li>
                    <li><a href="#" class="hvr-sweep-to-left">Đăng ký</a></li>

                </ul>

            }

        </div>
    </div>
</div>


<style>
    #close-form {
        color: white;
    }


    #login-form {
        background: #3a3a46;
        cursor: pointer;
    }
    #popup_login {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        z-index: 9999;
        display: none;
    }

    ul {
        text-align: left;
    }
</style>
<script type="text/javascript">
    $("#btnDangNhap").click(function () {
        $("#popup_login").show();
    });
    $("#close-form").click(AnForm);
    function AnForm() {
        $("#popup_login").hide();
    }
    $("#btnDangNhap1").click(function () {
        var TaiKhoan = $(".TaiKhoan").val();
        var MatKhau = $(".MatKhau").val();
        if (TaiKhoan == "") {
            alert("Lỗi");
            return;
        }
    });

</script>
