@using WebSiteBanHang.Models;
@model IEnumerable<SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
@{
    IEnumerable<SanPham> lstDTM = (IEnumerable<SanPham>)ViewBag.ListDTM;
    IEnumerable<SanPham> lstLTM = ViewBag.ListLTM as IEnumerable<SanPham>;
    IEnumerable<SanPham> lstMTBM = ViewBag.ListMTBM as IEnumerable<SanPham>;
}
    <div class="content-top" margin-top="0px">
        <h1>Đồ ăn</h1>
        <div class="grid-in" align="center">
            <div class="container" align="center">
                @Html.Partial("~/Views/SanPham/SanPhamStyle1Partial.cshtml", lstDTM)
            </div>
        </div>

        <h1>Đồ uống</h1>
        <div class="grid-in">
            <div class="container">
                @Html.Partial("~/Views/SanPham/SanPhamStyle1Partial.cshtml", lstLTM)
            </div>
        </div>

        <h1></h1>
        <div class="grid-in">

            <div class="container">
                @Html.Partial("~/Views/SanPham/SanPhamStyle1Partial.cshtml", lstMTBM)
            </div>
        </div>
    </div>
